<section id="searchform" ng-controller="bookingController" ng-init="loadBookings()">
   <div ng-show="billing" id="billing">


       <div class="col-md-12" id="searchbox">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" name="search" placeholder="Search for Bookings.." >
            </div>
       </div>

    <div class="col-md-12" id="table">
        <table class="table table-striped">
            <tr id="table-head">
                <th>Booking ID</th>
                <th>Car Name</th>
                <th>Car Number</th>
                <th>Pickup Date</th>
                <th>Dropoff Date</th>
                <th>Customer Name</th>
                <th>Status</th>
                <th><i class="fa fa-edit"></i> Edit
                </th>
            </tr>
            <tr ng-repeat="x in bookings | filter : search " >
                <td>{{x.booking_id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.number}}</td>
                <td>{{x.pickup_date}}</td>
                <td>{{x.dropoff_date}}</td>
                <td>{{x.first_name+" "+x.last_name}}</td>
                <td ng-class="status">{{x.status}}</td>
                <td>
                    <i class="fa fa-pencil btn btn-default" data-toggle="modal" ng-click="statusModal(x.booking_id,x.status,x.number,x.car_id,x.customer_id,x.pickup_date,x.dropoff_date,x.price_day,x.extra_hr)" data-target="#myModal"></i>
                    <!--<i class="fa fa-edit btn btn-default"  ng-click="updateData()"></i>-->

                </td>
            </tr>

        </table>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Status Change</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>Car Number</th>
                            <td >{{number}} <br></td>
                            <th>Status</th>
                            <td>
                                <select class="form-control" id="status"  ng-model="status"  required>
                                    <option value="Booked">Booked</option>
                                    <option value="OnRoad">On Road</option>
                                    <option value="Billing">Billing</option>
                                    <option value="Returned">Returned</option>
                                </select>
                            </td>
                        </tr>
                    </table>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="changeStatus()" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   </div>
   <div ng-hide="billing">
       <section class="container" >

            <h1 style="text-align: center">Detailed Billing Report</h1>
           <div class="col-md-12">
               <h5 class="well">Customer Details:</h5>
                    <p>Customer: {{billings[0].first_name+" "+billings[0].last_name}}</p>
                    <p>Email: {{billings[0].email}}</p>
                    <p>Phone No: {{billings[0].phone_number}}</p>
               <h5 class="well">Booking Details:</h5>
                    <div class="col-md-4">
                        <h5><b>Pick-Up Date : </b>{{billings[0].pickup_date | date:'dd-MMM-yyyy hh:mm a'}}</h5>
                    </div>
                    <div class="col-md-4">
                        <h5><b>Drop-off Date :</b> {{billings[0].dropoff_date | date:'dd-MMM-yyyy hh:mm a'}}</h5>
                    </div>
               <div class="col-md-4">
                   <h5><b>Return Date :</b> {{billings[0].return_date | date:'dd-MMM-yyyy hh:mm a'}}</h5>
               </div>
           </div>
           <div class="col-md-12">
               <h5 class=" well">Billing Details:</h5>

               <table class="table table-hover table-inverse" >
                   <tr class="warning">
                       <td>Base Price</td>
                       <td>{{billings[0].diff}} @ {{billings[0].price_day}}/day</td>
                       <td>{{billings[0].diff * billings[0].price_day}}</td>
                   </tr>
                   <tr class="warning">
                       <td>Extra Charges</td>
                       <td>{{extra_hours}}hrs @ {{billings[0].extra_hr}}/hr</td>
                       <td>{{extra_hours * billings[0].extra_hr}}</td>
                   </tr>
                   <tr class="info">
                   <td>Amount</td>
                   <td> </td>
                   <td>{{(billings[0].diff * billings[0].price_day) + (extra_hours * billings[0].extra_hr)}}</td>
               </tr>
                   <tr class="info">
                       <td>Discount</td>
                       <td> </td>
                       <td><input placeholder="0.00" type="text" ng-model="discount"></td>
                   </tr>
                    <hr>
                   <tr class="info">
                       <td>Total Amount</td>
                       <td> </td>
                       <td>{{((billings[0].diff * billings[0].price_day) + (extra_hours * billings[0].extra_hr))- discount}}</td>
                   </tr>
               </table>
           </div>
           <!-- to be edited style attributes------------------------------------------------>
           <div col-md-12 style="padding-bottom: 20%">
          <!-- to be edited style attributes------------------------------------------------>
               <a ng-href='#/billing'><button class="btn btn-success " ng-click="confirmBooking(billings[0].booking_id)">{{btnName}}</button></a>
               <input type="button" class="btn btn-warning " value="Cancel" ng-click="returnBookings()">
           </div>


       </section>
   </div>


</section>
<script>

</script>