<section id="searchform" ng-controller="bookingController" ng-init="loadBookings()">
   <div ng-show="billing" id="billing">


       <div class="col-md-12" id="searchbox">
            <div class="form-group">
               
                <input type="text" ng-model="search" class="form-control" name="search" placeholder="Search for Bookings.." >
            </div>
       </div>

    <div class="col-md-12" id="table">
        <table class="table table-striped">
            <tr id="table-head">
                <th>Booking ID</th>
                <th>Car Name</th>
                <th>Car Number</th>
                <th>Pickup Date</th>
                <th>Dropoff Date</th>
                <th>Customer Name</th>
                <th>Status</th>
                <th><i class="fa fa-edit"></i> Edit
                </th>
            </tr>
            <tr ng-repeat="x in bookings | filter : search " >
                <td>{{x.booking_id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.number}}</td>
                <td>{{x.pickup_date}}</td>
                <td>{{x.dropoff_date}}</td>
                <td>{{x.first_name+" "+x.last_name}}</td>
                <td>{{x.status}}</td>
                <td>
                    <i class="fa fa-pencil btn btn-default" data-toggle="modal" ng-click="statusModal(x.booking_id,x.status,x.number,x.car_id,x.customer_id,x.pickup_date,x.dropoff_date,x.price_day,x.extra_hr)" data-target="#myModal"></i>
                    <!--<i class="fa fa-trash btn btn-default" data-toggle="modal" ng-click="statusModal(x.booking_id,x.status,x.number,x.car_id,x.customer_id,x.pickup_date,x.dropoff_date,x.price_day,x.extra_hr)" data-target="#myModal"></i>-->
                    <!--<i class="fa fa-edit btn btn-default"  ng-click="updateData()"></i>-->

                </td>
            </tr>

        </table>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog  modal-sm">

            <!-- Modal content-->
            <div class="modal-content" id="status-change">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <i class="fa fa-clone fa-3x"></i>
                    <h4 class="modal-title">Status Change</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <h5><b>Car Number</b></h5>
                            <h5>{{number}}</h5>
                        </tr>
                        <tr>
                            <h5><b>Status</b></h5>

                                <select class="form-control" id="status"  ng-model="status"  required>
                                    <option value="Booked">Booked</option>
                                    <option value="OnRoad">On Road</option>
                                    <option value="Billing">Billing</option>
                                    <option value="Returned">Returned</option>
                                </select>

                        </tr>
                    </table>

                    <button type="button" class="btn btn-success" ng-click="changeStatus()" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   </div>

   <div ng-hide="billing">
       <section class="container col-md-12" >
            <h3 style="text-align: center; margin: 5px; color: #ef5e7b">Detailed Billing Report</h3>
           <div class="col-md-12">
               <div class="media col-md-6" id="media-style">
                   <div class=" panel container">
                       <div class="media-left media-middle">
                           <i class="fa fa-user fa-5x"></i>
                       </div>
                       <div class="media-body">
                            <h4 class="media-heading">Customer Details:</h4>
                            <p><b>{{billings[0].first_name+" "+billings[0].last_name}}</b></p>
                            <p>{{billings[0].email}}</p>
                            <p>{{billings[0].phone_number}}</p>
                       </div>
                    </div>
               </div>
               <div class="media col-md-6" style="margin: 0" id="media-style">
                   <div class="panel container">
                       <div class="media-left media-middle">
                           <i class="fa fa-book fa-5x"></i>
                       </div>
                       <div class="media-body">
                            <h4 class="media-heading">Booking Details:</h4>
                            <p><b>Pick-Up Date : </b>{{billings[0].pickup_date | date:'dd-MMM-yyyy hh:mm a'}}</p>
                            <p><b>Drop-off Date :</b> {{billings[0].dropoff_date | date:'dd-MMM-yyyy hh:mm a'}}</p>
                            <p><b>Return Date :</b> {{billings[0].return_date | date:'dd-MMM-yyyy hh:mm a'}}</p>
                       </div>
                    </div>
               </div>

               <div class="media col-md-10">
                   <div class="panel container">
                       <div class="media-body">
                           <h4 class="media-heading"> <i class="fa fa-credit-card"></i>Billing Details:</h4>
                           <table class="table table-hover table-inverse col-md-6" >
                               <tr>
                                   <td>Base Price</td>
                                   <td>{{(billings[0].diff)}}days + {{extra_days}}extra days @ {{billings[0].price_day}}/day</td>
                                   <td>{{(billings[0].diff * billings[0].price_day) + (extra_days * billings[0].price_day)|currency:"₹":0}}</td>
                               </tr>
                               <tr>
                                   <td>Extra Charges</td>
                                   <td>{{extra_hours%24}}hrs @ {{billings[0].extra_hr}}/hr</td>
                                   <td>{{(extra_hours%24) * billings[0].extra_hr|currency:"₹":0}}</td>
                               </tr>
                               <tr>
                               <td>Amount</td>
                               <td> </td>
                               <td>{{(billings[0].diff * billings[0].price_day) + (extra_days * billings[0].price_day) + ((extra_hours%24) * billings[0].extra_hr)|currency:"₹":0}}</td>
                           </tr>
                               <tr>
                                   <td>Damage</td>
                                   <td> </td>
                                   <td><input placeholder="0.00" type="text" ng-model="damage"></td>
                               </tr>
                               <tr>
                                   <td>Discount</td>
                                   <td> </td>
                                   <td><input placeholder="0.00" type="text" ng-model="discount"></td>
                               </tr>

                               <tr>
                                   <td>Total Amount</td>
                                   <td> </td>
                                   <td>{{(billings[0].diff * billings[0].price_day) + (extra_days * billings[0].price_day) + ((extra_hours%24) * billings[0].extra_hr) + (damage - discount)|currency:"₹":0}}</td>
                               </tr>
                           </table>
                       </div>
                   </div>
               </div>
               <div class="col-md-2 pull-right" style="padding-bottom: 20%; text-align: center;">
                   <!-- to be edited style attributes------------------------------------------------>
                   <a ng-href='#/billing'><button class="btn btn-success " id="billing-button" ng-click="confirmBooking(billings[0].booking_id)">Confirm</button></a><br>
                   <button type="button" id="billing-button" class="btn btn-primary" on-click="myFunction()">Print</button><br>
                   <script>
                       function myFunction() {
                           console.log("fucntion called")
                           window.print();
                       }
                   </script>
                   <button type="button" id="billing-button" class="btn btn-warning " value="Cancel" ng-click="returnBookings()">Cancel</button>
               </div>
           </div>
           <!-- to be edited style attributes------------------------------------------------>

       </section>
   </div>
</section>
