
    <section id="searchform" ng-controller="carController" ng-init="displayData();loadVendors()">
        <div class="col-md-12" id="car-searchbox" >

                        <div class="col-md-2">
                            <a  class="btn btn-primary" id="btn-add" data-toggle="modal" data-target="#myModal" ng-click="carToggle()"><i class="fa fa-plus  "></i></a>
                        </div>
                        <div class="col-md-10">
                            <input type="text" ng-model="search" style="width: 30%" class="form-control" style="width:90%" name="search" placeholder="Search for Cars.." >
                        </div>

        </div>
        <div class="col-md-12">
            <div class="well col-md-12 panel panel-default" id="carInput"  hidden>
                <div class="panel-heading">CAR DETAILS</div><br>
                <form>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Vendor">Car Vendor</label>
                            <select  class="form-control"   ng-model="vendor" placeholder="Vendor" required>
                                <option value="">Select Vendor</option>
                                <option ng-repeat="vendor in vendors " value="{{vendor.vendor_id}}">{{vendor.first_name +" "+ vendor.last_name }}</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <label for="carname">Car Name</label>
                            <input type="text"  class="form-control" ng-model="carName" placeholder="Car Name" required>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="carpicture">Car Picture</label>-->
                            <!--<input type="text"  class="form-control" ng-model="carPic" placeholder="Car Picture" required>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" ng-model="model" placeholder="Model" required>
                        </div>
                        <div class="form-group">
                            <label for="carnumber">Car Number</label>
                            <input type="text" class="form-control" ng-model="number" placeholder="Car Number" required>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="capacity">Capacity</label>
                            <input type="text"  class="form-control" ng-model="capacity" placeholder="Capacity" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="price">Price/Day</label>
                            <input type="text"  class="form-control" ng-model="price" placeholder="Price/Day" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="extra">Extra/hr</label>
                            <input type="text"  class="form-control" ng-model="extra" placeholder="Extra/hr" required>
                        </div>
                        <div class="form-group">
                            <label for="vprice">Vendor Price</label>
                            <input type="text"  class="form-control" ng-model="vprice" placeholder="Vendor Price" required>
                        </div>
                        <div class="form-group">
                            <label for="cartype">Car Type</label>
                            <select class="form-control"  ng-model="cartype"  required>
                                <option value="" selected>Car Type</option>
                                <option value="Hatchback">Hatchback</option>
                                <option value="Sedan" >Sedan</option>
                                <option value="SUV">SUV</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Present status</label>
                            <select class="form-control" id="status" ng-model="currentstatus"  required>
                                <option value="Available">Available</option>
                                <option value="Service">Service</option>
                                <option value="NotAvailable">Not Available</option>
                            </select>
                        </div>

                    </div>
                        <input type="submit" class="btn btn-success " value="ADD" ng-click="insertData()" >
                        <button type="reset" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i></button>
                </form>
            </div>
        </div>


        <!--list of cars starts here-->

            <div class="col-md-12" id="car_list">
                <div class="panel panel-default col-md-3" ng-repeat="x in names | filter : search" >

                    <div class="panel-body" id="car_tile">

                            <div class="row">
                                <div class="col-md-offset-8">
                                    <i class="fa fa-edit" ng-click="updateData(x.car_id,x.vendor_id,x.name,x.pic,x.model,x.capacity,x.cartype,x.price_day,x.extra_hr,x.number,x.vprice,x.current_status)" data-toggle="modal" data-target="#myModal"></i>
                                    <i class="fa fa-trash" ng-click="deleteData(x.car_id)"></i>
                                </div>
                                <div class="col-md-12">
                                    <img src="images/sample.png" alt="car" width="70%">
                                    <h4><strong>{{x.name}}</strong></h4>
                                    <h5> {{x.model}}</h5>
                                    <h5><i class="fa fa-users"></i> {{x.capacity}}</h5>
                                    <h5> {{x.cartype}}</h5>
                                    <h5>{{x.current_status}}</h5>
                                    <!--<h5>Price/Day: {{x.price_day}}/-</h5>-->
                                    <!--<h5>Next Booking: 6/6/2017</h5>-->

                                </div>
                            </div>
                    </div>
                    <div class="panel-body" id="panel-footer">
                        <div class="col-md-6" id="price">
                            <h5>Price/Day<br>{{x.price_day}}/-</h5>
                        </div>
                        <div class="col-md-6" id="bookdate">
                            <h5>Available on<br> 6/6/2017</h5>
                        </div>
                    </div>



                </div>

        <!-- EDITING CAR DETAILS MOdEL--->

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <h4><i class="fa fa-car"></i> Modify Car Details </h4>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="vendor">Car Vendor</label>
                                    <select  class="form-control"  id="vendor" ng-model="vendor" placeholder="Vendor" required>
                                        <option value="">Select Vendor</option>
                                        <option ng-repeat="vendor in vendors " value="{{vendor.vendor_id}}">{{vendor.first_name +" "+ vendor.last_name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="carname">Car Name</label>
                                    <input type="text" id="carname" class="form-control" ng-model="carName" placeholder="Car Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="carpicture">Car Picture</label>
                                    <input type="text" id="carpicture" class="form-control" ng-model="carPic" placeholder="Car Picture" required>
                                </div>
                                <div class="form-group">
                                    <label for="model">Model</label>
                                    <input type="text" id="model" class="form-control" ng-model="model" placeholder="Model" required>
                                </div>
                                <div class="form-group">
                                    <label for="carnumber">Car Number</label>
                                    <input type="text" id="carnumber" class="form-control" ng-model="number" placeholder="Car Number" required>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="capacity">Capacity</label>
                                    <input type="text" id="capacity" class="form-control" ng-model="capacity" placeholder="Capacity" required>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price/Day</label>
                                    <input type="text" id="price" class="form-control" ng-model="price" placeholder="Price/Day" required>
                                </div>
                                <div class="form-group">
                                    <label for="extra">Extra/hr</label>
                                    <input type="text" id="extra" class="form-control" ng-model="extra" placeholder="Extra/hr" required>
                                </div>
                                <div class="form-group">
                                    <label for="vprice">Vendor Price</label>
                                    <input type="text" id="vprice" class="form-control" ng-model="vprice" placeholder="Vendor Price" required>
                                </div>
                                <div class="form-group">
                                    <label for="cartype">Car Type</label>
                                    <select class="form-control" id="cartype" ng-model="cartype"  required>
                                        <option value="" selected>Car Type</option>
                                        <option value="Hatchback">Hatchback</option>
                                        <option value="Sedan" >Sedan</option>
                                        <option value="SUV">SUV</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="status">Present status</label>
                                    <select class="form-control" id="status" ng-model="currentstatus"  required>
                                        <option value="Available">Available</option>
                                        <option value="Service">Service</option>
                                        <option value="NotAvailable">Not Available</option>
                                    </select>
                                </div>

                            </div>
                        <input type="submit" class="btn btn-success " data-dismiss="modal" value="{{btnName}}" ng-click="insertData()">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>


                    </div>

                </div>

            </div>
        </div>
            </div>
    </section>
