<section ng-controller="rentController" ng-init="loadCustomers()" id="rent_bg">

    <div class="row">
        <div class="container"  ng-hide="searchbar" >
            <div class="col-md-12" id="rent">
            <h4><b>SEARCH</b></h4><hr>
            <form>
                <div id="black_bg">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pickup_date">PICKUP DATE</label>
                        <input id="pickup_date" style="width:100%"  ng-model="pickup_date" />
                    </div>
                    <div class="form-group">
                        <label for="capacity">CAPACITY</label>
                        <select class="form-control" ng-model="capacity"  id="capacity" placeholder="Capacity" ng-readonly = "disableSearchForm">
                            <option value="">Capacity</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="dropoff_date">DROPOFF DATE</label>
                            <input id="dropoff_date" style="width:100%"  ng-model="dropoff_date" />
                        </div>

                    <div class="form-group">
                        <label for="cars">CAR TYPE</label>
                        <select  class="form-control" ng-model="cartype" id="cars" placeholder="Cars" ng-readonly = "disableSearchForm">
                            <option value="">Car Type</option>
                            <option value="Hatchback">Hatchback</option>
                            <option value="Sedan" >Sedan</option>
                            <option value="SUV">SUV</option>
                        </select>
                    </div>
                    <button type="submit" id="search_button" class="btn btn-default pull-right" placeholder="&#xf002;" ng-click="displayData()"  ng-show="btnType"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>

                </div>
                </div>
                </div>
            </form>
        </div>
        </div>


        <div class=" col-md-12 searchform " id="searchform" ng-show=formDisplay>
        <section class="container" id="existing">
            <h4><b>Customer Details</b></h4><hr>
            <div class="col-md-12" >
            <div class="form-group" >
                <h4>Existing  Customer? (check this box to choose) <input type="checkbox" ng-model="checked"></h4>
                <div class="row">
                <select  class="form-control col-md-6"    ng-model="customer"  ng-change="customerAutofill()" ng-show="checked" >
                    <option value="">Select customer</option>
                    <option ng-repeat="customer in customers "  value="{{customer.customer_id}}">{{customer.first_name +" "+ customer.last_name }}</option>
                </select>
            <div class="container">
                <h4>New Customer</h4>
                <form class="col-md-12" id="searchform">
                    <div ng-hide="checked">
                        <div ng-repeat="x in detailcustomer" >
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname"ng-model="x.first_name"  placeholder="First Name"  required>
                                </div>
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" ng-model="x.last_name"  placeholder="Last Name"  required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" ng-model="x.email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="dobdate">Date of Birth</label>
                                    <input id="dobdate"   ng-model="x.dob"  style="width:100%" required>
                                </div>
                                <div class="form-group">
                                    <label for="phonenumber">Phonenumber</label>
                                    <input type="text" class="form-control" id="phonenumber" ng-model="x.phone_number" placeholder="phonenumber"  required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" ng-model="x.address" placeholder="Address"  required>
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" ng-model="x.city" placeholder="City"   required>
                                </div>
                                <div class="form-group">
                                    <label for="pincode">Pincode</label>
                                    <input type="pincode" class="form-control" id="pincode" ng-model="x.pincode" placeholder="Pincode"  required>
                                </div>
                                <div class="form-group">
                                    <label for="license">Driving N0.</label>
                                    <input type="text" class="form-control" id="license" ng-model="x.driving_no" placeholder="Driving License"  required>
                                </div>
                                <div class="form-group">
                                    <label for="aadhar">Aadhar No.</label>
                                    <input type="number" class="form-control" id="aadhar" ng-model="aadhar" placeholder="Aadhar Number" >
                                </div>



                            </div>

                        </div>
                    </div>
                    <button class="btn btn-success " value="Preview"  ng-click="previewBooking()">Preview</button>
                    <button class="btn btn-warning " value="Cancel" ng-click="searchForm()">Cancel</button>
                </form>
            </div>
                </div>

            </div>
            </div>
        </section>

        </div>
        </div>
    <div class="container" id="search_form">
        <div class="row" ng-hide="detailed">

        <div class="col-md-12">
            <h3>Booking Details:</h3>
            <table class="table table-bordered ">
                <tr>
                    <th>Pickup Date</th>
                    <td>{{pickup_date}}</td>
                </tr>
                <tr>
                    <th>Dropoff Date</th>
                    <td>{{dropoff_date }}</td>
                </tr>
                <tr>
                    <th>Car Name</th>
                    <td>{{carName}}</td>
                </tr>
                <tr>
                    <th>Car Type</th>
                    <td>{{carType}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <h3>Customer Details:</h3>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>First Name</th>
                    <td>{{detailcustomer[0].first_name}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{detailcustomer[0].last_name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{detailcustomer[0].email}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{detailcustomer[0].phone_number}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Address</th>
                    <td>{{detailcustomer[0].address}}<br>{{detailcustomer[0].city}}<br>{{detailcustomer[0].pincode}}</td>
                </tr>
                <tr>
                    <th>D.O.B</th>
                    <td>{{detailcustomer[0].dob}}</td>
                </tr>
                <tr>
                    <th>Driving License</th>
                    <td>{{detailcustomer[0].driving_no}}</td>
                </tr>

            </table><br>
        </div>
        <div class="pull-right" id="existing">
           <a href="#/booking"><button type="submit" class="btn btn-success " ng-click="confirmBooking()">Confirm</button></a>
            <button type="button" class="btn btn-warning " value="Cancel" ng-click="previousForm()">Cancel</button>
        </div>


    </div>
    </div>

    <!--list of cars starts here-->

    <div class="col-md-12" ng-hide="carListDisplay" id="rent_car_list" >
        <div class="panel panel-default col-md-3" ng-repeat="x in names | filter : search ">
            <div class="panel-body"  id="car_tile">

                    <h3><strong>{{x.name}}</strong></h3>
                    <h5>{{x.number}}   {{x.model}}</h5>
                    <h3><i class="fa fa-users"></i> {{x.capacity}}</h3>
                    <h5>{{x.cartype}}</h5>

                    <img src="images/sample.png" alt="car" width="60%">
                    <hr>
                    <h5>Price/Day: &#8377;{{x.price_day}}</h5>
                    <h5>Extra/hr: &#8377; {{x.extra_hr}}</h5>
                    <button type="sumbit" ng-click="customerForm(x.car_id,x.vendor_id,x.name,x.cartype)" id="search_button" class="btn btn-info">BOOK</button>
            </div>
        </div>


    </div>





</section>

<script>
// create DateTimePicker from input HTML element

$("#pickup_date").kendoDateTimePicker({

    //value: new Date(),
    dateInput: true,
    format: "yyyy-MM-dd hh:mm:tt",
    min: new Date(),
    culture: "en-US",
    interval: 15
});
$("#dropoff_date").kendoDateTimePicker({
    // value: new Date(),
    dateInput: true,
    format: "yyyy-MM-dd hh:mm:tt",
    min: new Date(),
    culture: "en-US",
    interval: 15

});

$("#dobdates").kendoDatePicker({
     //value: new Date(),
    dateInput: true,
//      format: "dd/MM/yyyy",
    format: "yyyy-MM-dd",
    start: "decade",
    max: new Date(1998, 0, 1) // sets max date to Jan 1st, 1998
});


</script>
